USE [TimeSheetDB]
GO
/****** Object:  Table [dbo].[CostCenter]    Script Date: 10/21/2013 9:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CostCenter](
	[CostCenterId] [int] IDENTITY(1,1) NOT NULL,
	[CostCenter] [varchar](50) NOT NULL,
	[LegalEntity] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CostCenterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/21/2013 9:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[WorkerId] [int] NOT NULL,
	[CustomerName] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Description]    Script Date: 10/21/2013 9:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Description](
	[DescriptionId] [int] IDENTITY(1,1) NOT NULL,
	[WorkerId] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[AccountNumber] [nchar](10) NULL,
	[HashCode] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DateLastUsed] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DescriptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Facility]    Script Date: 10/21/2013 9:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facility](
	[FacilityId] [int] IDENTITY(1,1) NOT NULL,
	[Facility] [nvarchar](30) NOT NULL,
	[AccountsPayableID] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FacilityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InternalNumber]    Script Date: 10/21/2013 9:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InternalNumber](
	[InternalNumberId] [int] IDENTITY(1,1) NOT NULL,
	[InternalOrder] [nvarchar](50) NOT NULL,
	[LegalEntity] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InternalNumberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Level]    Script Date: 10/21/2013 9:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Level](
	[LevelId] [int] IDENTITY(1,1) NOT NULL,
	[Level] [nvarchar](5) NOT NULL,
	[RegularRate] [money] NOT NULL,
	[OvertimeRate] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Partner]    Script Date: 10/21/2013 9:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner](
	[PartnerId] [int] IDENTITY(1,1) NOT NULL,
	[Partner] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PartnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 10/21/2013 9:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Site]    Script Date: 10/21/2013 9:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Site](
	[SiteId] [int] IDENTITY(1,1) NOT NULL,
	[Site] [nvarchar](10) NOT NULL,
	[SiteName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Week]    Script Date: 10/21/2013 9:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Week](
	[WeekId] [int] IDENTITY(1,1) NOT NULL,
	[WeekNumber] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[WorkerId] [int] NOT NULL,
	[DescriptionId] [int] NOT NULL,
	[Comments] [nvarchar](max) NULL,
	[IsOvertime] [bit] NOT NULL,
	[Monday] [money] NULL,
	[Tuesday] [money] NULL,
	[Wednesday] [money] NULL,
	[Thursday] [money] NULL,
	[Friday] [money] NULL,
	[Saturday] [money] NULL,
	[Sunday] [money] NULL,
	[Submitted] [datetime] NULL,
	[NewRequest] [bit] NOT NULL,
	[SiteId] [int] NULL,
	[WorkAreaId] [int] NULL,
	[PartnerId] [int] NULL,
	[InternalNumberId] [int] NULL,
	[CostCenterId] [int] NULL,
	[CapitalNumber] [nvarchar](50) NULL,
	[CustomerId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[WeekId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WorkArea]    Script Date: 10/21/2013 9:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkArea](
	[WorkAreaId] [int] IDENTITY(1,1) NOT NULL,
	[WorkArea] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkAreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WorkDept]    Script Date: 10/21/2013 9:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkDept](
	[WorkDeptId] [int] IDENTITY(1,1) NOT NULL,
	[WorkDept] [nvarchar](10) NOT NULL,
	[WorkDeptDesc] [nvarchar](50) NOT NULL,
	[ProcessId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkDeptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Worker]    Script Date: 10/21/2013 9:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Worker](
	[WorkerId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeNumber] [nvarchar](10) NULL,
	[LevelId] [int] NULL,
	[WorkDeptId] [int] NULL,
	[FacilityId] [int] NULL,
	[RoleId] [int] NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[IsManager] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsPartTime] [bit] NOT NULL,
	[OnDisability] [bit] NOT NULL,
	[IonName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CostCenter] ON 

INSERT [dbo].[CostCenter] ([CostCenterId], [CostCenter], [LegalEntity]) VALUES (2, N'1000100005', N'001')
INSERT [dbo].[CostCenter] ([CostCenterId], [CostCenter], [LegalEntity]) VALUES (3, N'1000100017', N'001')
INSERT [dbo].[CostCenter] ([CostCenterId], [CostCenter], [LegalEntity]) VALUES (4, N'1000100024', N'001')
GO
SET IDENTITY_INSERT [dbo].[CostCenter] OFF
SET IDENTITY_INSERT [dbo].[Description] ON 

INSERT [dbo].[Description] ([DescriptionId], [WorkerId], [Description], [AccountNumber], [HashCode], [IsActive], [DateLastUsed]) VALUES (1, 72, N'This is first', NULL, 1, 1, NULL)
INSERT [dbo].[Description] ([DescriptionId], [WorkerId], [Description], [AccountNumber], [HashCode], [IsActive], [DateLastUsed]) VALUES (2, 72, N'This is second', NULL, 2, 1, NULL)
INSERT [dbo].[Description] ([DescriptionId], [WorkerId], [Description], [AccountNumber], [HashCode], [IsActive], [DateLastUsed]) VALUES (3, 72, N'This is a new Description', N'          ', -1836547038, 1, CAST(0x0000A25E00000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[Description] OFF
SET IDENTITY_INSERT [dbo].[Facility] ON 

INSERT [dbo].[Facility] ([FacilityId], [Facility], [AccountsPayableID]) VALUES (1, N'MBC', N'9501')
INSERT [dbo].[Facility] ([FacilityId], [Facility], [AccountsPayableID]) VALUES (2, N'GO', N'9501')
INSERT [dbo].[Facility] ([FacilityId], [Facility], [AccountsPayableID]) VALUES (3, N'IT', N'9501')
SET IDENTITY_INSERT [dbo].[Facility] OFF
SET IDENTITY_INSERT [dbo].[InternalNumber] ON 

INSERT [dbo].[InternalNumber] ([InternalNumberId], [InternalOrder], [LegalEntity]) VALUES (1, N'4001127366', N'003')
INSERT [dbo].[InternalNumber] ([InternalNumberId], [InternalOrder], [LegalEntity]) VALUES (2, N'4001132262', N'003')
INSERT [dbo].[InternalNumber] ([InternalNumberId], [InternalOrder], [LegalEntity]) VALUES (3, N'4001132263', N'003')
GO
SET IDENTITY_INSERT [dbo].[InternalNumber] OFF
SET IDENTITY_INSERT [dbo].[Level] ON 

INSERT [dbo].[Level] ([LevelId], [Level], [RegularRate], [OvertimeRate]) VALUES (3, N'D9', 90.0000, 90.0000)
INSERT [dbo].[Level] ([LevelId], [Level], [RegularRate], [OvertimeRate]) VALUES (4, N'L5', 37.7500, 37.7500)
INSERT [dbo].[Level] ([LevelId], [Level], [RegularRate], [OvertimeRate]) VALUES (5, N'L6', 64.0000, 64.0000)
SET IDENTITY_INSERT [dbo].[Level] OFF
SET IDENTITY_INSERT [dbo].[Partner] ON 

INSERT [dbo].[Partner] ([PartnerId], [Partner]) VALUES (1, N'RDSS')
INSERT [dbo].[Partner] ([PartnerId], [Partner]) VALUES (2, N'F&HC')
INSERT [dbo].[Partner] ([PartnerId], [Partner]) VALUES (3, N'Beauty')
SET IDENTITY_INSERT [dbo].[Partner] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [Role]) VALUES (1, N'Dining Services')
INSERT [dbo].[Role] ([RoleId], [Role]) VALUES (2, N'Clerical')
INSERT [dbo].[Role] ([RoleId], [Role]) VALUES (3, N'Mechanic')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[Site] ON 

INSERT [dbo].[Site] ([SiteId], [Site], [SiteName]) VALUES (1, N'BIC', NULL)
INSERT [dbo].[Site] ([SiteId], [Site], [SiteName]) VALUES (2, N'BJIC', NULL)
INSERT [dbo].[Site] ([SiteId], [Site], [SiteName]) VALUES (3, N'F&HCIC', N'Ivorydale Technical Center')
SET IDENTITY_INSERT [dbo].[Site] OFF
SET IDENTITY_INSERT [dbo].[Week] ON 

INSERT [dbo].[Week] ([WeekId], [WeekNumber], [Year], [WorkerId], [DescriptionId], [Comments], [IsOvertime], [Monday], [Tuesday], [Wednesday], [Thursday], [Friday], [Saturday], [Sunday], [Submitted], [NewRequest], [SiteId], [WorkAreaId], [PartnerId], [InternalNumberId], [CostCenterId], [CapitalNumber], [CustomerId]) VALUES (1, 43, 0, 72, 1, N'', 0, 2.0000, 2.0000, 2.0000, 2.0000, 0.0000, 0.0000, 0.0000, NULL, 0, 1, 1, 1, 2, 2, N'', 0)
INSERT [dbo].[Week] ([WeekId], [WeekNumber], [Year], [WorkerId], [DescriptionId], [Comments], [IsOvertime], [Monday], [Tuesday], [Wednesday], [Thursday], [Friday], [Saturday], [Sunday], [Submitted], [NewRequest], [SiteId], [WorkAreaId], [PartnerId], [InternalNumberId], [CostCenterId], [CapitalNumber], [CustomerId]) VALUES (2, 43, 0, 72, 3, N'', 0, 0.0000, 3.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, NULL, 0, 1, 1, 1, 2, 2, N'', 0)
SET IDENTITY_INSERT [dbo].[Week] OFF
SET IDENTITY_INSERT [dbo].[WorkArea] ON 

INSERT [dbo].[WorkArea] ([WorkAreaId], [WorkArea]) VALUES (1, N'Lab')
INSERT [dbo].[WorkArea] ([WorkAreaId], [WorkArea]) VALUES (2, N'PRL')
INSERT [dbo].[WorkArea] ([WorkAreaId], [WorkArea]) VALUES (3, N'Plant')
SET IDENTITY_INSERT [dbo].[WorkArea] OFF
SET IDENTITY_INSERT [dbo].[WorkDept] ON 

INSERT [dbo].[WorkDept] ([WorkDeptId], [WorkDept], [WorkDeptDesc], [ProcessId]) VALUES (2, N'1000107382', N'PRL BABY CHASSIS', 35)
INSERT [dbo].[WorkDept] ([WorkDeptId], [WorkDept], [WorkDeptDesc], [ProcessId]) VALUES (3, N'1000501528', N'SWTC R&DSS', 30)
INSERT [dbo].[WorkDept] ([WorkDeptId], [WorkDept], [WorkDeptDesc], [ProcessId]) VALUES (4, N'1000501532', N'INTEGRATED RISK', 33)
SET IDENTITY_INSERT [dbo].[WorkDept] OFF
SET IDENTITY_INSERT [dbo].[Worker] ON 

INSERT [dbo].[Worker] ([WorkerId], [EmployeeNumber], [LevelId], [WorkDeptId], [FacilityId], [RoleId], [FirstName], [LastName], [IsManager], [IsActive], [IsPartTime], [OnDisability], [IonName]) VALUES (1, N'01034671', 3, 12, 7, 6, N'Brian', N'Kiley', 0, 1, 0, 0, NULL)
INSERT [dbo].[Worker] ([WorkerId], [EmployeeNumber], [LevelId], [WorkDeptId], [FacilityId], [RoleId], [FirstName], [LastName], [IsManager], [IsActive], [IsPartTime], [OnDisability], [IonName]) VALUES (2, N'01034951', 3, 4, 7, 6, N'Randy', N'Gross', 1, 1, 0, 0, NULL)
INSERT [dbo].[Worker] ([WorkerId], [EmployeeNumber], [LevelId], [WorkDeptId], [FacilityId], [RoleId], [FirstName], [LastName], [IsManager], [IsActive], [IsPartTime], [OnDisability], [IonName]) VALUES (3, N'01045179', 3, 12, 4, 6, N'Kerry', N'Becker', 1, 1, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[Worker] OFF
