USE [TimeSheetDB]
GO
/****** Object:  Table [dbo].[Worker]    Script Date: 12/9/2013 12:36:13 AM ******/
DROP TABLE [dbo].[Worker]
GO
/****** Object:  Table [dbo].[Worker]    Script Date: 12/9/2013 12:36:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Worker](
	[WorkerId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeNumber] [nvarchar](10) NULL,
	[LevelId] [int] NULL,
	[WorkDeptId] [int] NULL,
	[FacilityId] [int] NULL,
	[RoleId] [int] NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[IsManager] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsPartTime] [bit] NOT NULL,
	[OnDisability] [bit] NOT NULL,
	[IonName] [nvarchar](50) NULL,
	[IsAdmin] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Worker] ON 

INSERT [dbo].[Worker] ([IsAdmin], [WorkerId], [EmployeeNumber], [LevelId], [WorkDeptId], [FacilityId], [RoleId], [FirstName], [LastName], [IsManager], [IsActive], [IsPartTime], [OnDisability], [IonName]) VALUES (0, 1, N'01034671', 3, 12, 7, 6, N'Brian', N'Kiley', 0, 1, 0, 0, NULL)
INSERT [dbo].[Worker] ([IsAdmin], [WorkerId], [EmployeeNumber], [LevelId], [WorkDeptId], [FacilityId], [RoleId], [FirstName], [LastName], [IsManager], [IsActive], [IsPartTime], [OnDisability], [IonName]) VALUES (0, 2, N'01034951', 3, 4, 7, 6, N'Randy', N'Gross', 1, 1, 0, 0, NULL)
INSERT [dbo].[Worker] ([IsAdmin], [WorkerId], [EmployeeNumber], [LevelId], [WorkDeptId], [FacilityId], [RoleId], [FirstName], [LastName], [IsManager], [IsActive], [IsPartTime], [OnDisability], [IonName]) VALUES (0, 3, N'01045179', 3, 12, 4, 6, N'Kerry', N'Becker', 1, 1, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[Worker] OFF
