@model TimeSheet.Models.Description

<tr class="descriptionrow" data-id="@Model.DescriptionId">
    <td class="inactivate"><i class='icon-ban-circle'></i></td>
    <td colspan="16">@Model._Description</td>
</tr>
