@model TimeSheet.Models.Sites

<div class="container">
<br />
<table id="inos" class="table table-striped table-hover table-condensed table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>
                <button class="btn btn-success btn-mini" id="addarea">
                    <i class="icon-plus icon-white"></i> Add
                </button>
                <b class="center">Sites</b>
            </th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>ID</th>
            <th>Site</th>
            <th>Use Count</th>
            <th>User Count</th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayFor(m => m.list)
    </tbody>
</table>
</div>

@section scripts {
<script type="text/javascript">
    function attachDT() {
        q = $('#inos').dataTable({
            "sDom": "<'row'<'col-xs-6'f><'col-xs-6'i>>t",
            "bPaginate": false,
            "oLanguage": {
                "sInfo": "_TOTAL_ site(s)",
                "sInfoFiltered": "(of _MAX_ unfiltered)",
                "sProcessing": "<i class='icon-spinner icon-spin'></i>"
            },
            "aoColumnDefs": [
                { "bVisible": false, "aTargets": [0] },
                { "asSorting": ["asc"], "aTargets": [2] }
            ]
        });
    }
    $(function () {
        attachDT();
        $('#inos tbody').on('click', 'tr', function () {
            var id = $(this).data('id');
            id = (id != '') ? id : 0;
            location.href = '@Url.Action("Site","Admin",null,Request.Url.Scheme)/' + id;
        });
        $('#addarea').on('click', function () {
            location.href = '@Url.Action("Site", "Admin", null, Request.Url.Scheme)/0';
        });
    });
</script>
}
