<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network"
            xdt:Transform="Replace" >
        <network
          host="SMTPGW.PG.COM"
          port="25"
          />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>