<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ts"
      connectionString="Data Source=155.118.175.18;Initial Catalog=TimeSheetDB;Integrated Security=False;User ID=TimeTracker;Password=timetracker;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network"
            xdt:Transform="Replace" >
        <network
          host="SMTPGW.PG.COM"
          port="25"
          />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings xdt:Transform="Replace">
    <add key="templates" value="c:\\Reminder\\Views"/>
    <add key="copiesto" value="teegarden.ks@pg.com, byerly.ms@pg.com" />
    <add key="sentfrom" value="rdss.pg.com@pg.com" />
  </appSettings>
</configuration>